*
    font-family: 'Maven Pro', sans-serif


header
    nav

        min-height: 50px
        padding: 20px 0 10px 0
        background-color: #808080
        .list
            display: flex
            justify-content: space-between
            align-items: center
            list-style-type:none
        
            &_item
                list-style-type: none
                
                a
                    font-weight: 300
                    font-style: 15px
                    text-decoration: none
                    color: white
                    &:hover
                        font-size: 16px
                        font-weight: 400
                        color: red
                    



